.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem 0 0 0;

  font-family: "Roboto", sans-serif;

  h2 {
    max-width: 42rem;
    margin: 8rem 0;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
    color: var(--blue);

    @media (max-width: 768px) {
      max-width: 28rem;
      font-size: 2.2rem;
      margin: 5rem 0;
    }
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 33rem 1fr;
    grid-template-rows: 14rem 1fr;
    grid-gap: 2rem 6rem;
    justify-content: center;

    

    @media screen and (max-width: 768px) {
      display: flex;
      gap: 0;
      flex-direction: column;
    }

    .categoryContainer {
      max-width: 31.5rem;
      padding: 0.5rem;


      .categoryHeader {
        display: flex;
        align-items: center;
        flex-direction: column;
    
        font-weight: 900;
        font-size: 1.78rem;
        color: var(--gray);
        text-align: center;
    
        .icon {
          height: 4rem;
          width: 4rem;
    
          display: block;
          margin: 0 0 2.2rem 0;
        }
    
        .eye {
          height: 3.5rem;
          width: 5.5rem;
    
          display: block;
          margin: 0 0 2.5rem 0;
        }

        

      }

      p {
        margin-top: 1rem;
    
        font-weight: 300;
        font-size: 1.1rem;
        text-align: center;
        color: var(--black);
    
        @media (max-width: 786px) {
          margin-bottom: 3rem;
        }
      }
    }
  }

  

  


}