.container {
  width: 100%;
  background-color: #f2f2f2;

  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 8rem;

  font-family: "Roboto", sans-serif;
}

.titulo {
  max-width: 48rem;

  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #3076f2;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
    margin: 0 1rem 0 1rem;
  }
}

.gridLayout {
  max-width: 1300px;
  display: grid;
  grid-template-columns: 40rem 1fr;
  grid-template-rows: 8rem 1fr;
  grid-gap: 5rem 8rem;
  justify-content: center;

  
  margin-top: 6rem;
}

@media screen and (max-width: 768px) {
  .gridLayout {
    display: flex;
    flex-direction: column;
  }
}

.categoryHeader {
  max-width: 31.5rem;
  display: flex;
  align-items: center;
  flex-direction: column;

  font-weight: 900;
  font-size: 1.8rem;
  color: #4f4f60;
  text-align: center;

}

.icon {
  height: 4rem;
  width: 4rem;

  display: block;
  margin: 0 0 1.5rem 0;
}

.eye {
  height: 3.5rem;
  width: 5.5rem;
}

p {
  max-width: 31.5rem;
  margin-top: 1rem;

  font-weight: 300;
  font-size: 1.1rem;
  text-align: justify;
  color: black;
}