.donwloadButton {
  padding: 0.6rem 1.8rem;
  outline: none;
  color: var(--blue);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--yellow);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }

  @media (max-width: 990px){
    height: 60px;
  }
}