.hr {
    max-width: 1300px;
    border-top: 3px solid #e7e7e7;
    margin: 6rem auto;

    @media (max-width: 1300px) {
        margin: 6rem 2rem;
    }
}
.Title {
    font-weight: 600;
    font-size: 2.5rem;
    text-align: center;
    color: var(--blue);
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-top: 5rem;

    .content {
        text-align: justify;
        position: relative;
        height: 250Px;
        

        @media (max-width: 720px) {
            max-width: 600px;

        }

        .testimonyText {
            font-family: Roboto, sans-serif;
            font-weight: normal;
            font-size: 1rem;
            text-align: justify;
            color: var(--black);
            height: 150px;

        }

        .testimonySlide {
            display: flex;
            align-items: center;
            padding-top: 1rem;
            
            .frameBackground {
                z-index: 1;
                width: 80px;
                height: 80px;
           }

            .testimonyImage {
                position: absolute;
                border-radius: 30%;
                z-index: 2;
                left: 0.7rem;
                width: 60px;
                height: 48px;

                @media (max-width: 768px) {
                    left: inherit;
                    margin-left: 0.75rem;
                } 
            }
    
            .testimonyInfos {
                background:linear-gradient(205.32deg, rgba(95, 80, 182, 0.73) 38%, rgba(0, 110, 230, 0.9) 102.06%, rgba(69, 88, 195, 0.94) 102.06%);
                color: var(--white);
                height: 3rem;
                width: 250px;
                padding-top: 0.25rem;
                position: relative;
                right: 1rem;
    
                h3 {
                    font-family: Roboto, sans-serif;
                    font-weight: normal;
                    font-size: 1rem;
                    margin-left: 1.75rem;
                }
    
                p {
                    margin-left: 1.75rem;
                    font-weight: bold;
                    font-family: Roboto, sans-serif;
                }
            }
        }
        
        @media (max-width: 768px) {
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        } 
    }
}