
.openModalButton{
  padding: 0.6rem 1.8rem;
  outline: none;
  color: var(--blue);
  border: none;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  font-weight: 900;
  background-color: var(--yellow);
  transition: all 0.2s ease-in-out;

  &:hover {
    filter: brightness(0.9);
  }

  @media (max-width: 990px){
    height: 60px;
  }
}

.ModalOverlay {
  background: rgba(0, 0, 0, 0.57);
}

.ModalContent {

  .ModalCloseButton{
    display: flex;
    align-self: flex-end;
    margin: 2.3rem 4rem 0 0 ;
    width:2rem;
    height: 2rem;
    background: transparent;
    border: none;
    font-size: 1rem;
    color:var(--gray500);

    @media (max-width: 990px){
      margin: 2.3rem 1rem 0 0 ;
    }
  }

  .ModalContext {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .ModalBody {
      height: 20rem;
      border-radius: 8px;
      max-width: 500px;
      width: 100%;
      display: flex;
      margin: 0 auto;
      padding: 2.5rem 1rem;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background:linear-gradient(205.32deg, rgb(95, 80, 182) 38%, rgba(0, 110, 230, 0.9) 102.06%, rgba(69, 88, 195, 0.974) 102.06%);
      
      button {
        margin-top: 1.5rem;
        max-width: 350px;
        width: 100%;
        height: 50px;
        border-radius: 2rem;
        border: none;
        outline: none;
        transition: 0.2s;
        background: var(--yellow);
        color: var(--blue);
        font-weight: bold;
        font-size: 1.5rem;

        &:hover {
          filter: brightness(0.9);
        }
      }
    }
  }
}
